@model IEnumerable<prypo3.DataModel.Fant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="index-content">
    <div class="container">
        @foreach (var item in Model)
        {
            
             <div class="col-lg-4 card_wr">
                 <div class="card">
                     <a href="/fant/details/@item.Id"><img src="http://cevirdikce.com/proje/hasem-2/images/finance-1.jpg"></a>                     
                     <h4><a href="/fant/details/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></h4>
                     <p>@Html.DisplayFor(modelItem => item.Text)</p>
                     <a href="/fant/details/@item.Id" class="blue-button">Поддержать</a>
                 </div>
             </div>            
        }        
    </div>
</div>

